@model string[]
<h2>List</h2>



<ul>

    @foreach (var file in Model)
    {
        string shortName = Path.GetFileNameWithoutExtension(file);

        <li>@Html.ActionLink(shortName, "MyContent", new { id = shortName })</li>
    }
</ul>

